@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat&display=swap');

body {
    background: rgba(0,0,0,0.7);
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0 1rem;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

header p {
    color: white;
    padding: 0.7rem;
    border: solid 1px white;
    border-radius: 5px;
    font-family: 'Crimson Pro', serif;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header ul a {
    text-decoration: none;
    padding: 1rem 2.5rem;
    color: white;
    transition: border-bottom 0.3s ease;
}

header ul a:last-of-type {
    padding-right:0 ;
}

header ul a:hover {
    border-bottom: 3px solid white;
}

main {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0.2em;
}

.content {
    width: 45%;
    z-index: 2;
}

.content h1 {
    font-family: 'Lora', serif;
    margin-bottom: 1.5em;
}

.content a {
    text-decoration: none;
    color: white;
}

.image-container {
    position: relative;
}

.image-container img{
    width: 100%;
    height: 25%;
}

.black-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: -1rem;
    right: 1rem;
    background: rgba(29, 28, 28, 1);
    box-shadow: 0 5px 3px rgba(0,0,0,0.5);
    width: 60%;
    height: 30%;
    z-index: 2;
}

.black-box div {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.black-box div img{
    width: 80px;
    height: 70px;
    border-radius: 50%;
    z-index: 4;
    margin: 0.5em;
}

.black-box div p {
    display: inline-block;
}

/* 
.black-box div p:first-child {
} */

#role p:nth-child(2) {
    font-family: sans-serif;
    font-size: 0.8em;
    color: rgba(101, 197, 197, 1);
}

.black-box #role {
    display: flex;
    flex-direction: column;
}

#role p {
    margin-top: 0.6em;
    margin-bottom: 0.2rem;
}

#role p:last-of-type {
    margin-top: 0;
}

#last-p {
    width: 65%;
    margin: 0 0 0.5em 0.5em;
    font-size: 1.3em;
}

@media (max-width: 1023px) {
    body {
        overflow: hidden;
    }

    header {
        display: block;
        font-size: 0.3em;
        margin: -2em 1em 0 -1.3em;
    }
    header p {
        float: left;
        color: white;
        padding: 11px 25px;
        border: solid 2px white;
        font-size: 3em;
        border-radius: 5px;
        margin-left: 0.7em;
        text-transform: uppercase;
    }
    header a {
        text-decoration: none;
        float: right;
        padding: 3px 5px;
        color: white;
        transition: border-bottom 0.5s ease;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    main div.content {
        width: 90%;
        margin: 1em 0 0 0.5em;
        z-index: 2;
        color: white;
    }
    
    main div.content a{
        text-decoration: none;
        color: white;
    }

    main div.content h1 {
        font-size: 1.8em;
    }

    div.content h1 {
        margin-bottom: 1em;
    }

    main div.image-container img{
        width: 18em;
        height: 16em;
        margin: 0 0.3em 1em -7.6em;
    }
    .black-box {
        position: absolute;
        display: block;
        background: rgba(29, 28, 28, 1);
        box-shadow: 0 5px 3px rgba(0,0,0,0.5);
        padding: 50px 150px;
        margin: -3.5em 0.3em 0 -7em;
    }
    .black-box p {
        position: absolute;
        display: inline-block;
        width: 60%;
        margin: 0.1em 1.4em 0 -7em;
        line-height: 20px;
    }
    
    .black-box p:first-child {
        margin: -2.7em 1em 0 -3em;
    }
    
    .black-box p:nth-child(2) {
        font-family: sans-serif;
        font-size: 0.75em;
        color: rgba(101, 197, 197, 1);
        margin: -1.9em 1em 0 -3em;
    }
    .black-box p:last-child {
        font-size: 0.9em;
        margin: 0 0 2em -8em;
    }
}